@font-face {
  font-family: "Untitled Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/UntitledSansWeb-Regular.woff2") format("woff2"),
       url("../fonts/UntitledSansWeb-Regular.woff") format("woff"),
       url("../fonts/UntitledSansWeb-Regular.eot") format("eot");
}

@font-face {
  font-family: "Untitled Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/UntitledSansWeb-RegularItalic.woff2") format("woff2"),
       url("../fonts/UntitledSansWeb-RegularItalic.woff") format("woff"),
       url("../fonts/UntitledSansWeb-RegularItalic.eot") format("eot");
}

@font-face {
  font-family: "Untitled Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/UntitledSansWeb-Bold.woff2") format("woff2"),
       url("../fonts/UntitledSansWeb-Bold.woff") format("woff"),
       url("../fonts/UntitledSansWeb-Bold.eot") format("eot");
}
@font-face {
  font-family: "Pitch Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/PitchSansWeb-Semibold.woff2") format("woff2"),
       url("../fonts/PitchSansWeb-Semibold.woff") format("woff"),
       url("../fonts/PitchSansWeb-Semibold.eot") format("eot");
}

@font-face {
  font-family: "Pitch Sans";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/PitchSansWeb-SemiboldItalic.woff2") format("woff2"),
       url("../fonts/PitchSansWeb-SemiboldItalic.woff") format("woff"),
       url("../fonts/PitchSansWeb-SemiboldItalic.eot") format("eot");
}

@font-face {
  font-family: "Tiempos Text";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TiemposTextWeb-Regular.woff2") format("woff2"),
       url("../fonts/TiemposTextWeb-Regular.woff") format("woff"),
       url("../fonts/TiemposTextWeb-Regular.eot") format("eot");
}

@font-face {
  font-family: "Tiempos Text";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/TiemposTextWeb-RegularItalic.woff2") format("woff2"),
       url("../fonts/TiemposTextWeb-RegularItalic.woff") format("woff"),
       url("../fonts/TiemposTextWeb-RegularItalic.eot") format("eot");
}

@font-face {
  font-family: "Tiempos Text";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/TiemposTextWeb-Bold.woff2") format("woff2"),
       url("../fonts/TiemposTextWeb-Bold.woff") format("woff"),
       url("../fonts/TiemposTextWeb-Bold.eot") format("eot");
}

@font-face {
  font-family: "Tiempos Text";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/TiemposTextWeb-BoldItalic.woff2") format("woff2"),
       url("../fonts/TiemposTextWeb-BoldItalic.woff") format("woff"),
       url("../fonts/TiemposTextWeb-BoldItalic.eot") format("eot");
}

.untitled-sans {
    font-family: 'Untitled Sans';
}

.tiempos-text {
    font-family: 'Tiempos Text';
}

.pitch-sans {
    font-family: 'SF Mono';
}
